/* #Footer
--------------------------------------------------------------- */
/* Sub footer */
.dyslexic-toggle {
    font-family: 'OpenDyslexic', sans-serif;
}

.dyslexic-toggle label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.dyslexic-toggle label:hover {
    text-decoration: underline;
}

.dyslexic-toggle label:before {
    content: "";
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--black);
    border-radius: 50%;
    transition: background-color ease 350ms;
}

.dyslexic-toggle input:checked+label:before {
    background-color: var(--black);
}

.dyslexic-toggle input:focus+label {
    outline: dashed 1px var(--black);
    outline-offset: 6px;
}