/* #Header
--------------------------------------------------------------- */
#header {
    width: 100%;
    position: relative;
    z-index: 99;
}

#header .inner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

#header .custom-logo {
    width: 100%;
    max-width: 86px;
    height: auto;
}

/* Menu Desktop */
#header .menu-header {
    display: none;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    background-color: unset;
    transition: opacity ease 350ms;
}

@media screen and (min-width: 1200px) {
    #header .menu-header {
        display: flex;
    }
}

.menu-header li a {
    width: unset;
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--black);
    font-weight: 600;
    font-family: var(--bold);
    text-decoration: none;
    cursor: pointer;
    transition: color ease 350ms;
}

@media screen and (min-width: 1200px) {
    #header .menu-header li a {
        padding: 2rem 1em;
        font-size: 1em;
    }
}

#header .menu-header>li>a:before {
    content: "";
    top: 47.5%;
    right: 1rem;
    bottom: calc(0% + 2rem);
    left: 1rem;
    display: block;
    position: absolute;
    background-color: var(--primary);
    z-index: -1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform ease 350ms;
}

#header .menu-header>li>a:hover:before,
#header .menu-header>li>a:focus:before {
    transform: scaleX(1);
}

#header .btn-wrapper {
    display: none;
}

@media screen and (min-width: 1200px) {
    #header .btn-wrapper {
        display: inherit;
    }
}

#header .menu-header li.menu-item-has-children>a:after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    background-image: url(../../icons/chevron-right.svg);
    transform: rotate(0deg);
    transition: transform ease 350ms;
}

#header .menu-header li.menu-item-has-children>a:hover:after,
#header .menu-header li.menu-item-has-children>a:focus:after,
#header .menu-header li.menu-item-has-children:focus-within>a:after {
    transform: rotate(90deg);
}

#header .menu-header li.menu-item-has-children {
    position: relative;
}

#header .menu-header li.menu-item-has-children>ul.sub-menu {
    width: 100%;
    min-width: 14rem;
    padding-bottom: 0.5em;
    position: absolute;
    display: none;
    background-color: var(--white);
    border-radius: var(--border-radius);
}

#header .menu-header li.menu-item-has-children:hover>ul.sub-menu,
#header .menu-header li.menu-item-has-children>a:focus+ul.sub-menu,
#header .menu-header li.menu-item-has-children:focus-within>ul.sub-menu {
    display: block;
}

#header .menu-header li.menu-item-has-children>ul.sub-menu a {
    padding: 0.5em 1em;
}

#header .menu-header li.menu-item-has-children>ul.sub-menu a:hover,
#header .menu-header li.menu-item-has-children>ul.sub-menu a:focus {
    text-decoration: underline;
}

/* Toggle */
.menu-toggle-col {
    width: 30px;
    transition: opacity ease 350ms;
}

.menu-toggle-wrapper {
    position: relative;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle {
    width: 30px;
    height: 30px;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    opacity: 0;
    cursor: pointer;
}

#menu-toggle:focus+div {
    outline: dashed 1px var(--secondary);
    outline-offset: 6px;
}

.menu-toggle-open {
    max-width: 30px;
    height: 30px;
    pointer-events: none;
}

.menu-toggle-open>span {
    margin-top: 13px;
}

.menu-toggle-open>span,
.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 30px;
    height: 2px;
    position: absolute;
    display: block;
    background-color: var(--secondary);
}

.menu-toggle-open>span:before,
.menu-toggle-open>span:after {
    width: 20px;
    right: 0;
}

.menu-toggle-open>span:before {
    content: "";
    margin-top: -13px;
    transition: width ease 350ms;
}

.menu-toggle-open>span:after {
    content: "";
    margin-top: 13px;
    transition: width ease 350ms 90ms;
}

.menu-toggle-wrapper:hover .menu-toggle-open>span:before,
.menu-toggle-wrapper:focus .menu-toggle-open>span:before,
.menu-toggle-wrapper:hover .menu-toggle-open>span:after,
.menu-toggle-wrapper:focus .menu-toggle-open>span:after {
    width: 30px;
}

/* Super Menu */
body.js-menuOpened {
    overflow: hidden;
}

@media screen and (min-width: 1200px) {
    .menu-toggle-col {
        display: none;
    }
}

body.js-menuOpened #header .menu,
body.js-menuOpened #header .menu-toggle-col {
    opacity: 0.55;
}

.super-menu-wrapper {
    width: 100%;
    height: calc(100% - var(--header-height));
    position: fixed;
    top: var(--header-height);
    right: 0;
    z-index: 25;
    background-color: var(--secondary);
    transform: translateX(100%);
    overflow-y: auto;
    transition: transform ease 350ms;
}

.js-menuOpened .super-menu-wrapper {
    transform: translateX(0);
}

.super-menu-wrapper .container {
    padding-top: 2em;
    padding-bottom: 2em;
}

.super-menu-wrapper .menu-toggle-close {
    margin-left: auto;
    padding: 0;
    display: block;
    background: none;
    border: 0;
    cursor: pointer;
}

.super-menu-wrapper .menu-toggle-close svg {
    width: 20px;
    height: 20px;
}

.menu-header-mobile {
    margin-top: var(--spacing-section-inner);
}

.menu-header-mobile li a {
    width: fit-content;
    padding: 0.75rem 0;
    position: relative;
    color: var(--white);
    font-size: 1.25em;
}

.menu-header-mobile li a[href]:hover:before,
.menu-header-mobile li a[href]:focus:before {
    text-decoration: underline;
}

.menu-header-mobile .sub-menu {
    padding-left: 1.5rem;
}

.super-menu-wrapper .btn-wrapper {
    padding-top: 1.5rem;
}