/* #Variables
--------------------------------------------------------------- */
:root {
  /* Colors */
  --black: #090909;
  --white: #fffffb;

  /* Fonts */
  --bold: "Open Sans", sans-serif;
  --body: "Open Sans", sans-serif;

  /* Spacings */
}
